<div class="container">
  <div class="header">
    <h1 class="display-3">What is this thing?</h1>
  </div>
  <div>
    <h4>What does is do?</h4>
    <p>
      This application allows users to search for bills using ProbulicasCongress API. Right now the
      search functionality works but the only filtering that works is for the number of Co-sponsors
      a bill has. I kept search open ended but I think that limiting it to the criteria stated would
      have made things a bit easier and more controlled.  


    </p>
  </div>
</div>
