body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  padding-top: 35px;
}

.header-small {
  padding-top: 35px;
  padding-bottom: 25px;
}

.item{
  padding-bottom: 10px;
}

#searchIconWhite {
  color: #fff;
}

#searchIconWhite:hover {
  color: #495056;
}
